
#include <winresrc.h>
#include "custom.h"
#include "resource.h"


/* Manifest enabling XP theme on Win XP */
1 RT_MANIFEST manifest.xml


IDD_MAIN DIALOGEX 100, 100, 300, 160
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
EXSTYLE WS_EX_DLGMODALFRAME
CAPTION "Custom Control Demo"
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL "&Custom Control", ID_CUSTOM, CUSTOM_WC, WS_TABSTOP, 5, 5, 80, 15
	CONTROL "Real &Button", ID_REAL, "BUTTON", WS_TABSTOP | BS_PUSHBUTTON, 5, 25, 80, 15
END
