#include "windows.h"
#include "resources.h"


testMenu MENU DISCARDABLE
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Options", IDM_DISPCONFIG
    MENUITEM "E&xit", IDM_EXIT
  END
END


TestDialog1 DIALOG 0, 0, 220, 150
STYLE DS_MODALFRAME | WS_CAPTION
CAPTION "Test 1"
FONT 8, "MS Sans Serif"
BEGIN
  LTEXT "Output Folder 1:", 5000, 5, 12, 70, 14
  EDITTEXT "", 5001, 5, 30, 135, 14, ES_LEFT | ES_AUTOHSCROLL
END

TestDialog2 DIALOG 0, 0, 240, 150
STYLE DS_MODALFRAME | WS_CAPTION
CAPTION "Test 2"
FONT 8, "MS Sans Serif"
BEGIN
  LTEXT "Output Folder 2:", 5002, 5, 12, 70, 14
  EDITTEXT "", 5003, 5, 30, 135, 14, ES_LEFT | ES_AUTOHSCROLL
END

TestDialog3 DIALOG 0, 0, 260, 150
STYLE DS_MODALFRAME | WS_CAPTION
CAPTION "Test 3"
FONT 8, "MS Sans Serif"
BEGIN
  LTEXT "Output Folder 3:", 5004, 5, 12, 70, 14
  EDITTEXT "", 5005, 5, 30, 135, 14, ES_LEFT | ES_AUTOHSCROLL
  LTEXT "Foobulous:", 5006, 5, 48, 50, 14
  EDITTEXT "", 5007, 5, 66, 135, 14, ES_LEFT | ES_AUTOHSCROLL
END
