/*
 * xtractor.rc - Copyright (C) 1999 Jay A. Key
 *
 * Windows resource file for CD-DA X-Tractor
 *
 **********************************************************************
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
 *
 **********************************************************************
 *
 * The following naming convention is used for constant names.  Each type
 * of control or menu item will have its own specific prefix.  Static text
 * controls do not have a constant defined.  The prefixes are:
 *   Prefix    Type
 *   IDM_      Menu Items
 *   IDCBX_    ComboBoxes
 *   IDCKB_    CheckBoxes
 *   IDBN_     Buttons
 *   IDRBN_    RadioButtons
 *   IDE_      Edit controls
 *   IDLB_     ListBoxes
 *
 */
#include "windows.h"
#include "resources.h"


GUIRIPLG	ICON 	DISCARDABLE	"guiriplg.ico"
GUIRIPSM	ICON 	DISCARDABLE	"guiripsm.ico"
XTRACTLG        ICON    DISCARDABLE     "xtractlg.ico"
ALTRIP3         ICON    DISCARDABLE     "AltRip3.ico"

idToolbarBmp       BITMAP  PRELOAD "toolbar.bmp"
idToolbarHotBmp    BITMAP  PRELOAD "toolbar-hot.bmp"
idToolbar24Bmp     BITMAP  PRELOAD "toolbar-24.bmp"
idToolbarHot24Bmp  BITMAP  PRELOAD "toolbar-hot-24.bmp"
idImageList        BITMAP  PRELOAD "ilist.bmp"

AboutBmp           BITMAP  PRELOAD "about.bmp"

SliderTop          BITMAP  PRELOAD "top.bmp"
SliderBottom       BITMAP  PRELOAD "bottom.bmp"

akripMenu MENU DISCARDABLE
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "Re&fresh CD", IDM_REFRESH
    MENUITEM "&Write CD Info to CDPLAYER.INI", IDM_CDPLAYERINI
    MENUITEM "Sub&mit to Freedb", IDM_SUBMITCDDB
    MENUITEM SEPARATOR
    MENUITEM "&Rip Tracks", IDM_RIP
    MENUITEM "Rip &Segment", IDM_RIPSEGMENT
    MENUITEM SEPARATOR
    MENUITEM "E&xit", IDM_EXIT
  END
  POPUP "&Edit"
  BEGIN
    MENUITEM "&Rename", IDM_RENAME
    MENUITEM SEPARATOR
    MENUITEM "Select &all", IDM_CHECKALL
    MENUITEM "&Invert selection", IDM_INVERT
  END
  POPUP "&Options"
  BEGIN
    MENUITEM "&CD Settings", IDM_CDSETTINGS
    MENUITEM "Out&put Options", IDM_DIRSETTINGS
    MENUITEM "&MP3 Settings", IDM_MP3SETTINGS
    MENUITEM "&Vorbis Settings", IDM_VORBSETTINGS
    MENUITEM "Free&db Settings", IDM_CDDBSETTINGS
    MENUITEM "M&isc Settings", IDM_MISCOPT
    MENUITEM SEPARATOR
    MENUITEM "&Edit ID3 Tag", IDM_ID3TAGEDIT
    MENUITEM SEPARATOR
    MENUITEM "Hicolor &Buttons", IDM_HICOLOR, CHECKED
  END
  POPUP "&Tools"
  BEGIN
    MENUITEM "Enable &ID3", IDM_ENABLEID3, CHECKED
    MENUITEM "Enable &Freedb", IDM_ENABLECDDB, CHECKED
    //MENUITEM SEPARATOR
    //MENUITEM "CD &Properties", IDM_CDPARMS
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&Topics", IDM_HELPTOPICS
    MENUITEM SEPARATOR
    MENUITEM "&About CD-DA X-Tractor...", IDM_ABOUT
  END
END


trackPopupMenu MENU DISCARDABLE
BEGIN
  POPUP "track popup"
  BEGIN
    MENUITEM "Rena&me", IDM_RENAME
    MENUITEM SEPARATOR
    MENUITEM "P&roperties", IDM_PROPERTIES, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "Re&fresh CD", IDM_REFRESH
    MENUITEM "Edit ID3 Tag", IDM_ID3TAGEDIT
    MENUITEM SEPARATOR
    MENUITEM "Select &all", IDM_CHECKALL
    MENUITEM "&Invert selection", IDM_INVERT
    MENUITEM "Rip &Selected", IDM_RIP
  END
END

genericPopupMenu MENU DISCARDABLE
BEGIN
  POPUP "generic popup"
  BEGIN
    MENUITEM "Re&fresh CD", IDM_REFRESH
    MENUITEM "Edit ID3 Tag", IDM_ID3TAGEDIT
    MENUITEM SEPARATOR
    MENUITEM "Select &all", IDM_CHECKALL
    MENUITEM "&Invert selection", IDM_INVERT
    MENUITEM "Rip &Selected", IDM_RIP
  END
END

CDControlDialog DIALOG 0, 0, 260, 200
FONT 8, "MS Sans Serif"
CAPTION "  CD  "
BEGIN
  RTEXT "Drive:", 9000, 5, 12, 20, 12
#ifdef __GNUC__
  COMBOBOX "", IDCBX_CDLIST, 28, 12, 160, 60, CBS_DROPDOWNLIST | WS_VSCROLL
  COMBOBOX "", IDCBX_DRVTYPE, 60, 26, 88, 60, CBS_DROPDOWNLIST | WS_VSCROLL
  EDITTEXT "", IDE_NUMREAD, 114, 80, 20, 12, ES_NUMBER | ES_RIGHT
  EDITTEXT "", IDE_NUMCHECK, 114, 92, 20, 12, ES_NUMBER | ES_RIGHT
  EDITTEXT "", IDE_NUMOVER, 114, 104, 20, 12, ES_NUMBER | ES_RIGHT
#else
  COMBOBOX IDCBX_CDLIST, 28, 12, 160, 60, CBS_DROPDOWNLIST | WS_VSCROLL
  COMBOBOX IDCBX_DRVTYPE, 60, 26, 88, 60, CBS_DROPDOWNLIST | WS_VSCROLL
  EDITTEXT IDE_NUMREAD, 114, 80, 20, 12, ES_NUMBER | ES_RIGHT
  EDITTEXT IDE_NUMCHECK, 114, 92, 20, 12, ES_NUMBER | ES_RIGHT
  EDITTEXT IDE_NUMOVER, 114, 104, 20, 12, ES_NUMBER | ES_RIGHT
#endif
  RTEXT "Read Algorithm:", 9001, 5, 26, 52, 12
  CHECKBOX "Autoscan &TOC", IDCKB_AUTOTOC, 5, 52, 80, 12, BS_AUTOCHECKBOX
  CHECKBOX "Autocheck t&racks", IDCKB_AUTOCHECK, 95, 52, 80, 12, BS_AUTOCHECKBOX
  GROUPBOX "Jitter Correction", 9002, 5, 70, 143, 70
  AUTORADIOBUTTON "Always", IDRBN_ALWAYS, 8, 80, 40, 12
  AUTORADIOBUTTON "Never", IDRBN_NEVER, 8, 92, 40, 12
  AUTORADIOBUTTON "On Error", IDRBN_ONERR, 8, 104, 40, 12
  RTEXT "Read Tracks:", 9003, 52, 80, 60, 12
  RTEXT "Jitter Check:", 9004, 52, 92, 60, 12
  RTEXT "Overlap:", 9005, 52, 104, 60, 12
  PUSHBUTTON "&Reset", IDBN_RESET, 51, 120, 46, 12
END

DirectoryDialog DIALOG 0, 0, 240, 200
FONT 8, "MS Sans Serif"
CAPTION " Output "
BEGIN
  LTEXT "Output Folder:", 9006, 5, 12, 50, 8
  PUSHBUTTON "Browse", IDBN_BRWSEMP3DIR, 143, 24, 46, 12
  GROUPBOX "Normalization", 9058, 5, 42, 187, 30
  CHECKBOX "Enable", IDCKB_NORMALIZE, 10, 52, 40, 12, BS_AUTOCHECKBOX
  RTEXT "Level (%):", 9059, 54, 54, 34, 12
  RTEXT "Scan (%):", 9060, 124, 54, 30, 12
#ifdef __GNUC__
  EDITTEXT "", IDE_MP3DIR, 5, 24, 135, 12, ES_LEFT | ES_AUTOHSCROLL
  EDITTEXT "", IDE_NORMVAL, 90, 52, 30, 12, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER
  EDITTEXT "", IDE_NORMSCANPCT, 156, 52, 30, 12, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER
  COMBOBOX "", IDCBX_ENCODER, 5, 92, 80, 60, CBS_DROPDOWNLIST | WS_VSCROLL
#else
  EDITTEXT IDE_MP3DIR, 5, 24, 135, 12, ES_LEFT | ES_AUTOHSCROLL
  EDITTEXT IDE_NORMVAL, 90, 52, 30, 12, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER
  EDITTEXT IDE_NORMSCANPCT, 156, 52, 30, 12, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER
  COMBOBOX IDCBX_ENCODER, 5, 92, 80, 60, CBS_DROPDOWNLIST | WS_VSCROLL
#endif
  LTEXT "Encoder:", 9037, 5, 80, 60, 8
  GROUPBOX "Description:", 9014, 92, 80, 100, 100
  LTEXT "", IDT_DESC, 100, 92, 86, 80
END

MP3OptionsDialog DIALOG 0, 0, 240, 200
FONT 8, "MS Sans Serif"
CAPTION " MP3 "
BEGIN
  GROUPBOX "General Options", 9515, 6, 8, 180, 66
  RTEXT "Bitrate (kbps):", 9024, 10, 20, 60, 12
#ifdef __GNUC__
  COMBOBOX "", IDCBX_CBITRATE, 74, 20, 32, 60, CBS_DROPDOWNLIST | WS_VSCROLL
//  COMBOBOX "", IDCBX_ENCODER, 44, 36, 62, 48, CBS_DROPDOWNLIST | WS_VSCROLL
  COMBOBOX "", IDCBX_VBRQUALITY, 10, 100, 60, 48, CBS_DROPDOWNLIST | WS_VSCROLL
  COMBOBOX "", IDCBX_QUALITY, 90, 100, 60, 48, CBS_DROPDOWNLIST | WS_VSCROLL
  COMBOBOX "", IDCBX_MBITRATE, 10, 126, 32, 60, CBS_DROPDOWNLIST | WS_VSCROLL
#else
  COMBOBOX IDCBX_CBITRATE, 74, 20, 32, 60, CBS_DROPDOWNLIST | WS_VSCROLL
//  COMBOBOX IDCBX_ENCODER, 44, 36, 62, 48, CBS_DROPDOWNLIST | WS_VSCROLL
  COMBOBOX IDCBX_VBRQUALITY, 10, 100, 60, 48, CBS_DROPDOWNLIST | WS_VSCROLL
  COMBOBOX IDCBX_QUALITY, 90, 100, 60, 48, CBS_DROPDOWNLIST | WS_VSCROLL
  COMBOBOX IDCBX_MBITRATE, 10, 126, 32, 60, CBS_DROPDOWNLIST | WS_VSCROLL
#endif
//  RTEXT "Encoder:", 9025, 10, 36, 32, 12
  CHECKBOX "&Nice threads", IDCKB_NICETHREADS, 12, 52, 80, 8, BS_AUTOCHECKBOX
  CHECKBOX "Enable &ID3 Tags", IDCKB_ID3, 116, 18, 65, 8, BS_AUTOCHECKBOX
  CHECKBOX "Generate &CRC", IDCKB_CRC,    116, 28, 65, 8, BS_AUTOCHECKBOX
  CHECKBOX "&Original", IDCKB_ORIGINAL,   116, 38, 65, 8, BS_AUTOCHECKBOX
  CHECKBOX "&Copyright", IDCKB_COPYRIGHT, 116, 48, 65, 8, BS_AUTOCHECKBOX
  CHECKBOX "&Private", IDCKB_PRIVATE,     116, 58, 65, 8, BS_AUTOCHECKBOX
  GROUPBOX "Lame Encoder Options", 9516, 6, 78, 180, 74
  LTEXT "VBR Quality:", 9027, 10, 90, 60, 8
  LTEXT "MPEG Quality:", 9026, 90, 90, 60, 8
  CHECKBOX "Enable VBR", IDCKB_VBR, 90, 116, 80, 8, BS_AUTOCHECKBOX
  CHECKBOX "Write VBR Header", IDCKB_VBRHEADER, 90, 126, 80, 8, BS_AUTOCHECKBOX
  CHECKBOX "Use Joint Stereo", IDCKB_JSTEREO, 90, 136, 80, 8, BS_AUTOCHECKBOX 
  LTEXT "VBR Max Bitrate:", 9028, 10, 116, 60, 8
END


CDDBOptionsDialog DIALOG 0, 0, 240, 210
FONT 8, "MS Sans Serif"
CAPTION "Freedb"
BEGIN
  LTEXT "Freedb Server:", 9019, 10, 16, 50, 12
  LTEXT "Port:", 9057, 120, 16, 50, 12
  LTEXT "Query Script:", 9022, 10, 40, 70, 12
  LTEXT "Submit Script:", 9052, 100, 40, 70, 12
#ifdef __GNUC__
  EDITTEXT "", IDE_CDDBSERVER, 10, 26, 100, 12, ES_LEFT | ES_AUTOHSCROLL
  EDITTEXT "", IDE_SERVERPORT, 120, 26, 40, 12, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER
  EDITTEXT "", IDE_CDDBCGI, 10, 50, 80, 12, ES_LEFT | ES_AUTOHSCROLL
  EDITTEXT "", IDE_CDDBSUBMIT, 100, 50, 80, 12, ES_LEFT | ES_AUTOHSCROLL
  LISTBOX "", IDLB_SERVERLIST, 10, 70, 170, 48
#else
  EDITTEXT IDE_CDDBSERVER, 10, 26, 100, 12, ES_LEFT | ES_AUTOHSCROLL
  EDITTEXT IDE_SERVERPORT, 120, 26, 40, 12, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER
  EDITTEXT IDE_CDDBCGI, 10, 50, 80, 12, ES_LEFT | ES_AUTOHSCROLL
  EDITTEXT IDE_CDDBSUBMIT, 100, 50, 80, 12, ES_LEFT | ES_AUTOHSCROLL
  LISTBOX IDLB_SERVERLIST, 10, 70, 170, 48
#endif
  GROUPBOX "Server List:", 9038, 5, 6, 180, 122
  PUSHBUTTON "Get &List", IDBN_SELECTCDDB, 40, 110, 42, 12
  PUSHBUTTON "&Reset", IDBN_RESETCDDB, 109, 110, 42, 12
END


ProxyOptionsDialog DIALOG 0, 0, 240, 210
FONT 8, "MS Sans Serif"
CAPTION "Proxy"
BEGIN
  GROUPBOX "Proxy Settings:", 9039, 5, 10, 180, 76
  CHECKBOX "Use Proxy", IDCKB_USEPROXY, 10, 20, 80, 12, BS_AUTOCHECKBOX
  CHECKBOX "Save password", IDCKB_SAVEPASS, 100, 20, 70, 12, BS_AUTOCHECKBOX
  LTEXT "Proxy Server:", 9020, 10, 32, 60, 8
  LTEXT "Port:", 9021, 140, 32, 40, 8
  LTEXT "User:", 9055, 10, 56, 70, 8
  LTEXT "Password:", 9056, 95, 56, 70, 8
#ifdef __GNUC__
  EDITTEXT "", IDE_PROXYSRVR, 10, 42, 100, 12, ES_LEFT | ES_AUTOHSCROLL
  EDITTEXT "", IDE_PROXYPORT, 140, 42, 30, 12, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER
  EDITTEXT "", IDE_PROXYUSER, 10, 68, 80, 12, ES_LEFT | ES_AUTOHSCROLL
  EDITTEXT "", IDE_PROXYPASS, 95, 68, 80, 12, ES_LEFT | ES_AUTOHSCROLL | ES_PASSWORD
#else
  EDITTEXT IDE_PROXYSRVR, 10, 164, 100, 12, ES_LEFT | ES_AUTOHSCROLL
  EDITTEXT IDE_PROXYPORT, 140, 164, 30, 12, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER
  EDITTEXT IDE_PROXYUSER, 10, 190, 80, 12, ES_LEFT | ES_AUTOHSCROLL
  EDITTEXT IDE_PROXYPASS, 95, 190, 80, 12, ES_LEFT | ES_AUTOHSCROLL | ES_PASSWORD
#endif
END


MiscOptionsDialog DIALOG 0, 0, 240, 210
FONT 8, "MS Sans Serif"
CAPTION " Misc "
BEGIN
  GROUPBOX "M3U Playlist:", 9040, 5, 6, 180, 70
  CHECKBOX "Enabled", IDCKB_M3UENABLE, 12, 16, 50, 10, BS_AUTOCHECKBOX
  AUTORADIOBUTTON "Use Album Name as Filename", IDRBN_M3UALBUMNAME, 16, 26, 110, 10, BS_AUTORADIOBUTTON | WS_TABSTOP | WS_GROUP
  AUTORADIOBUTTON "Specify Filename", IDRBN_M3USPECIFYNAME, 16, 36, 80, 10, BS_AUTORADIOBUTTON
  PUSHBUTTON "...", IDBN_M3UBROWSE, 16, 48, 12, 10
#ifdef __GNUC__
  EDITTEXT "", IDE_M3UFILE, 30, 48, 142, 12, ES_LEFT | ES_AUTOHSCROLL
#else
  EDITTEXT IDE_M3UFILE, 30, 48, 142, 12, ES_LEFT | ES_AUTOHSCROLL
#endif
  GROUPBOX "Filename macros:", 9041, 5, 80, 180, 70
#ifdef __GNUC__
  EDITTEXT "", IDE_FNAMEMACRO, 10, 94, 170, 12, ES_LEFT | ES_AUTOHSCROLL
#else
  EDITTEXT IDE_FNAMEMACRO, 10, 94, 170, 12, ES_LEFT | ES_AUTOHSCROLL
#endif
  LTEXT "The following substutions are available: $t = track number, $n = track name, $a = artist, $l = album name.  To specify a '$' sign, use $$.", 9044, 10, 110, 170, 36
END


VorbOptionsDialog DIALOG 0, 0, 240, 210
FONT 8, "MS Sans Serif"
CAPTION " Vorbis "
BEGIN
  RTEXT "VBR Bitrate:", 9045, 10, 10, 50, 12
  RTEXT "Version:", 9046, 10, 26, 50, 12
  RTEXT "Organization:", 9047, 10, 42, 50, 12
  RTEXT "Description:", 9048, 10, 58, 50, 12
  RTEXT "Genre:", 9049, 10, 74, 50, 12
  RTEXT "Date:", 9050, 10, 90, 50, 12
  RTEXT "Location:", 9051, 10, 106, 50, 12
  RTEXT "Copyright:", 9054, 10, 122, 50, 12
#ifdef __GNUC__
  COMBOBOX "", IDCBX_VORBBITRATE, 64, 10, 32, 60, CBS_DROPDOWNLIST | WS_VSCROLL
  EDITTEXT "", IDE_VORBVERSION, 64, 26, 110, 12, ES_LEFT | ES_AUTOHSCROLL
  EDITTEXT "", IDE_VORBORGANIZATION, 64, 42, 110, 12, ES_LEFT | ES_AUTOHSCROLL
  EDITTEXT "", IDE_VORBDESCRIPTION, 64, 58, 110, 12, ES_LEFT | ES_AUTOHSCROLL
  EDITTEXT "", IDE_VORBGENRE, 64, 74, 110, 12, ES_LEFT | ES_AUTOHSCROLL
  EDITTEXT "", IDE_VORBDATE, 64, 90, 110, 12, ES_LEFT | ES_AUTOHSCROLL
  EDITTEXT "", IDE_VORBLOCATION, 64, 106, 110, 12, ES_LEFT | ES_AUTOHSCROLL
  EDITTEXT "", IDE_VORBCOPYRIGHT, 64, 122, 110, 12, ES_LEFT | ES_AUTOHSCROLL
#else
  COMBOBOX IDCBX_VORBBITRATE, 66, 10, 32, 60, CBS_DROPDOWNLIST | WS_VSCROLL
  EDITTEXT IDE_VORBVERSION, 64, 26, 110, 12, ES_LEFT | ES_AUTOHSCROLL
  EDITTEXT IDE_VORBORGANIZATION, 64, 42, 110, 12, ES_LEFT | ES_AUTOHSCROLL
  EDITTEXT IDE_VORBDESCRIPTION, 64, 58, 110, 12, ES_LEFT | ES_AUTOHSCROLL
  EDITTEXT IDE_VORBGENRE, 64, 74, 110, 12, ES_LEFT | ES_AUTOHSCROLL
  EDITTEXT IDE_VORBDATE, 64, 90, 110, 12, ES_LEFT | ES_AUTOHSCROLL
  EDITTEXT IDE_VORBLOCATION, 64, 106, 110, 12, ES_LEFT | ES_AUTOHSCROLL
  EDITTEXT IDE_VORBCOPYRIGHT, 64, 122, 110, 12, ES_LEFT | ES_AUTOHSCROLL
#endif
END


DirSelectDialog DIALOG 0, 0, 180, 200
STYLE DS_MODALFRAME | WS_CAPTION
CAPTION "Select Directory"
FONT 8, "Helv"
BEGIN
#ifdef __GNUC__
  EDITTEXT "", IDE_DIRSEL, 10, 10, 160, 12, ES_LEFT | ES_AUTOHSCROLL
#else
  EDITTEXT IDE_DIRSEL, 10, 10, 160, 12, ES_LEFT | ES_AUTOHSCROLL
#endif
  CHECKBOX "Automatically create directory", IDCKB_AUTOCREATE, 10, 162, 160, 12, BS_AUTOCHECKBOX
  PUSHBUTTON "OK", IDBN_DIRSELOK, 30, 178, 46, 14
  PUSHBUTTON "Cancel", IDBN_DIRSELCANCEL, 104, 178, 46, 14
END


RipTrackDialog DIALOG 0, 0, 180, 130
STYLE DS_MODALFRAME | WS_CAPTION
CAPTION "Rip Tracks"
FONT 8, "Helv"
BEGIN
  RTEXT "Track:", 9010, 6, 8, 42, 8
  LTEXT "A Track is Born.mp3", IDT_TRACKNAME, 50, 8, 120, 8
  RTEXT "Output:", 9011, 6, 18, 42, 8
  LTEXT "", IDT_OUTPUTOPTTEXT, 50, 18, 120, 18
  RTEXT "Rip %:", IDT_RIPPCT, 6, 40, 42, 8
  CONTROL "", IDG_RIPPROG, "AKProgMeter", WS_CHILD | WS_VISIBLE, 51, 38, 99, 12
  RTEXT "Read Buffer:", 9013, 6, 54, 42, 8
  CONTROL "", IDG_READBUF, "AKProgMeter", WS_CHILD | WS_VISIBLE, 51, 52, 99, 12
  RTEXT "Time:", 9036, 6, 68, 42, 8
  LTEXT "", IDT_ESTTIME, 52, 68, 120, 8
  CHECKBOX "Stop after current track", IDCKB_FINISHTRACK, 52, 82, 114, 12, BS_AUTOCHECKBOX
  PUSHBUTTON "Cancel", IDBN_CANCELRIP, 70, 100, 40, 16
END


ID3InfoDialog DIALOG 0, 0, 200, 100
STYLE DS_MODALFRAME | WS_CAPTION
CAPTION "ID3 Info"
FONT 8, "Helv"
BEGIN
  RTEXT "Artist:", 9015, 6, 8, 24, 8
  RTEXT "Album:", 9016, 6, 24, 24, 8
  RTEXT "Year:", 9017, 6, 40, 24, 8
  RTEXT "Genre:", 9018, 78, 40, 24, 8
#ifdef __GNUC__
  EDITTEXT "", IDE_ARTIST2, 34, 6, 154, 12, ES_LEFT | ES_AUTOHSCROLL
  EDITTEXT "", IDE_ALBUM2, 34, 22, 154, 12, ES_LEFT | ES_AUTOHSCROLL
  EDITTEXT "", IDE_YEAR, 34, 38, 40, 12, ES_LEFT | ES_AUTOHSCROLL
  COMBOBOX "", IDCBX_GENRE, 104, 38, 86, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
#else
  EDITTEXT IDE_ARTIST2, 34, 6, 154, 12, ES_LEFT | ES_AUTOHSCROLL
  EDITTEXT IDE_ALBUM2, 34, 22, 154, 12, ES_LEFT | ES_AUTOHSCROLL
  EDITTEXT IDE_YEAR, 34, 38, 40, 12, ES_LEFT | ES_AUTOHSCROLL
  COMBOBOX IDCBX_GENRE, 104, 38, 86, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
#endif
  CHECKBOX "Enable &ID3 Tags", IDCKB_ID3, 34, 56, 70, 8, BS_AUTOCHECKBOX
  PUSHBUTTON "OK", IDBN_ID3OK, 56, 80, 36, 16, BS_DEFPUSHBUTTON
  PUSHBUTTON "Cancel", IDBN_ID3CANCEL, 108, 80, 36, 16, BS_DEFPUSHBUTTON
END


AboutDialog DIALOG 0, 0, 160, 80
STYLE DS_MODALFRAME | WS_CAPTION
CAPTION "About CD-DA X-Tractor"
FONT 8, "Helv"
BEGIN
  PUSHBUTTON "OK", IDBN_ABOUTOK, 12, 60, 36, 16
END


MultipleCDDBQueryDialog DIALOG 0, 0, 240, 120
STYLE DS_MODALFRAME | WS_CAPTION
CAPTION "CDDB Query"
FONT 8, "Helv"
BEGIN
  LTEXT "Query returned multiple matches.  Choose:", 9023, 10, 10, 220, 12
#ifdef __GNUC__
  LISTBOX "", IDLB_CDDBQUERYSELECT, 10, 24, 220, 76
#else
  LISTBOX IDLB_CDDBQUERYSELECT, 10, 24, 220, 76
#endif
  PUSHBUTTON "OK", IDBN_CDDBQUERYOK, 75, 104, 36, 12
  PUSHBUTTON "Cancel", IDBN_CDDBQUERYCNCL, 129, 104, 36, 12
END


CDDBSiteQueryDialog DIALOG 0, 0, 160, 80
STYLE DS_MODALFRAME | WS_CAPTION
CAPTION "CDDB Site Query"
FONT 8, "Helv"
BEGIN
#ifdef __GNUC__
  EDITTEXT "", IDE_SITEQUERY, 10, 10, 140, 48, ES_MULTILINE
#else
  EDITTEXT IDE_SITEQUERY, 10, 10, 140, 48, ES_MULTILINE
#endif
  PUSHBUTTON "OK", IDBN_SITEQUERYOK, 36, 60, 36, 16
  PUSHBUTTON "Cancel", IDBN_SITEQUERYCANCEL, 88, 60, 36, 16
END


RipSegmentDialog DIALOG 0, 0, 220, 190
STYLE DS_MODALFRAME  | WS_CAPTION
CAPTION "Rip Segment"
FONT 8, "Helv"
BEGIN
  LTEXT "Select Range:", 9029, 10, 10, 50, 8
  CONTROL "", ID_SLIDER, "ak_rangeslider", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 20, 200, 32
  RTEXT "Length: ", 9033, 10, 58, 30, 8
  LTEXT "", IDT_TRACKLEN, 40, 58, 170, 8
  GROUPBOX "Start frame:", 9030, 10, 68, 200, 30
#ifdef __GNUC__
  EDITTEXT "", IDE_START, 16, 80, 60, 12, ES_NUMBER
  EDITTEXT "", IDE_FINISH, 16, 114, 60, 12, ES_NUMBER
  EDITTEXT "", IDE_SEGMENTFNAME, 16, 148, 174, 12
#else
  EDITTEXT IDE_START, 16, 80, 60, 12, ES_NUMBER
  EDITTEXT IDE_FINISH, 16, 114, 60, 12, ES_NUMBER
  EDITTEXT IDE_SEGMENTFNAME, 16, 148, 174, 12
#endif
  LTEXT "", IDT_STARTTEXT, 80, 82, 110, 8
  GROUPBOX "End frame:", 9031, 10, 102, 200, 30
  LTEXT "", IDT_FINISHTEXT, 80, 116, 110, 8
  GROUPBOX "Output Filename:", 9032, 10, 136, 200, 30
  PUSHBUTTON "&Rip", IDBN_RIPSEGOK, 65, 172, 36, 12
  PUSHBUTTON "Cancel", IDBN_RIPSEGCANCEL, 119, 172, 36, 12
END


CDPropertiesDialog DIALOG 0, 0, 200, 120
STYLE DS_MODALFRAME | WS_CAPTION
CAPTION "Track Properties"
FONT 8, "Helv"
BEGIN
  RTEXT "ID: ", 9034, 10, 10, 30, 10
  RTEXT ": ", 9035, 10, 20, 30, 10
  PUSHBUTTON "OK", IDBN_ABOUTOK, 82, 98, 36, 16
END

SubmitWiz1 DIALOG 0, 0, 260, 160
STYLE DS_MODALFRAME | WS_CAPTION | DS_CENTER
CAPTION "CDDB Submit"
FONT 8, "Helv"
BEGIN
  LTEXT "Please enter your e-mail address below.  In case of an error with the submission, you will be notified at the address you provide.", 9042, 10, 10, 240, 16
#ifdef __GNUC__
  EDITTEXT "", IDE_WIZ1EMAIL, 10, 30, 180, 12
#else
  EDITTEXT IDE_WIZ1EMAIL, 10, 30, 180, 12
#endif
  LTEXT "Year:", 9062, 10, 46, 80, 12
  LTEXT "Genre (generic):", 9053, 10, 73, 80, 12
  LTEXT "Genre (specific):", 9061, 110, 73, 80, 12
#ifdef __GNUC__
  EDITTEXT "", IDE_WIZ1YEAR, 10, 57, 40, 12, ES_NUMBER | WS_TABSTOP
  COMBOBOX "", IDCBX_WIZ1GENRE, 10, 84, 90, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
  EDITTEXT "", IDE_WIZ1DGENRE, 110, 84, 90, 12, WS_TABSTOP
#else
  EDITTEXT IDE_WIZ1YEAR, 10, 57, 40, 12, ES_NUMBER | WS_TABSTOP
  COMBOBOX IDCBX_WIZ1GENRE, 10, 84, 90, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
  EDITTEXT IDE_WIZ1DGENRE, 110, 84, 90, 12, WS_TABSTOP
#endif
  PUSHBUTTON "&Cancel", IDBN_WIZ1CANCEL, 172, 138, 36, 14
  PUSHBUTTON ">> &Next", IDBN_WIZ1NEXT, 214, 138, 36, 14
END


SubmitWiz2 DIALOG 0, 0, 260, 160
STYLE DS_MODALFRAME | WS_CAPTION | DS_CENTER
CAPTION "Verify Entry"
FONT 8, "Helv"
BEGIN
  LTEXT "Before hitting the submit button, please verify that the information in the CDDB entry is correct:", 9043, 10, 10, 240, 20
#ifdef __GNUC__
  EDITTEXT "", IDE_WIZ2ENTRY, 10, 32, 240, 100, ES_READONLY | WS_VSCROLL | ES_MULTILINE | ES_WANTRETURN
#else
  EDITTEXT IDE_WIZ2ENTRY, 10, 32, 240, 100, ES_READONLY | WS_VSCROLL | ES_MULTILINE | ES_WANTRETURN
#endif
  PUSHBUTTON "&<< Back", IDBN_WIZ2BACK, 130, 138, 36, 14
  PUSHBUTTON "&Cancel", IDBN_WIZ2CANCEL, 172, 138, 36, 14
  PUSHBUTTON "&Submit", IDBN_WIZ2NEXT, 214, 138, 36, 14
END


STRINGTABLE DISCARDABLE
BEGIN
  IDM_REFRESH       "Refresh CD"
  IDM_RIP           "Rip Tracks"
  IDM_OPTIONS       "Options"
  IDM_ID3           "ID3 Settings"
END
